@charset "utf-8";

/* font for GENSHIN IMPACT text */
@font-face {
	font-family: "a Asian Ninja";
	src: url("aAsianNinja.ttf");
}


html, body {
margin: 0;
	width: 100%;
	height: 100vh;
	padding: 0;
	overflow-x: hidden;
	background-repeat: no-repeat;
}


.warning-sign {
position: fixed;
background-image: url("warning.png");
background-repeat: no-repeat;
bottom: 20px;
right: 50px;
width: 120px;;
height: 100px;
background-size: contain;
z-index: 3;	
	
}


.cloud-container {
	display: flex;
	jutify-content: space-between;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	z-index: 2;
}

.Moln-Right {
	width: 100%;
}

.Moln-Left {
	width: 100%
}
/*
.nav li {
 display: inline-block;
 font-size: 20px;
 padding: 20px;
}
.nav li {
 display: inline-block;
 font-size: 20px;
 padding: 20px;
}
*/
/* page one*/


.grid-obj {
 padding: 0;
margin: 0;
display: flex;
 font-size: 90px;
 color: #3c3031;
 font-family: "a Asian Ninja";
	justify-content: center;
	align-items: flex-start;
	
}

.grid-wrapper {
	display: grid;
}

.obj1 {
 grid-column: 1 / span 4;
 grid-row: 1;
	height: 100vh;
background-color: #fff;
background-image: url("ganyu_wide.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position:center;
display: flex;
z-index: 2

}


.title-text {
	top: 0px;
}




.obj2 {
 grid-column: 1 / span 4;
 grid-row: 2;
background-color: #fff0d2;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
	padding: 0;
	display: flex;
	height: 100vh;
	align-items: flex-start;
	
	
}
.obj3 {
 
 grid-row: 3;
background-image: url("lanternrite_wide.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
	display: flex;
	width: 100%;
	height: 100vh;
}

/* page one */
.grid-wrapper-pageone {
 display: grid;
 grid-template-columns: auto auto auto 10%;
 background-color: #2196F3;
}

.grid-wrapper-pageone > div {
 background-color: rgba(255, 255, 255, 0.8);
 text-align: center;
 padding: 20px 0;
 font-size: 30px;
	width: 100%;
	height: 100vh;
}

.flex-wrapper-wrap > div {
 background-color: #f1f1f1;
 width: 100px;
 margin: 10px;
 text-align: center;
 line-height: 75px;
 font-size: 30px;
}
/* page one*/
.flex-wrapper-wrap-reverse {
 display: flex;
 flex-wrap: wrap-reverse;
 background-color: DodgerBlue;
}
.flex-wrapper-wrap-reverse > div {
 background-color: #f1f1f1;
 width: 100px;
 margin: 10px;
 text-align: center;
 line-height: 75px;
 font-size: 30px;
}
.flex-wrapper-flex-flow{
display: flex;
 flex-flow: row wrap;
 background-color: DodgerBlue;
}
.flex-wrapper-flex-flow > div {
 background-color: #f1f1f1;
 width: 100px;
 margin: 10px;
 text-align: center;
 line-height: 75px;
 font-size: 30px;
}
/* page two*/
.flex-wrapper-justify{
 display: flex;
 justify-content: center;
background-color: #0D1CAE;
}
.flex-wrapper-justify > div {
 background-color: #f1f1f1;
 width: 100px;
 margin: 10px;
 text-align: center;
 line-height: 75px;
 font-size: 30px;
}
.flex-wrapper-justify-flex-start{
 display: flex;
 justify-content: flex-start;
background-color: #0D1CAE;
}
.flex-wrapper-justify-flex-start > div {
 background-color: #f1f1f1;
 width: 100px;
 margin: 10px;
 text-align: center;
 line-height: 75px;
 font-size: 30px;
}
.flex-wrapper-justify-flex-end{
 display: flex;
 justify-content: flex-end;
background-color: #0D1CAE;
}
.flex-wrapper-justify-flex-end > div {
 background-color: #f1f1f1;
 width: 100px;
 margin: 10px;
 text-align: center;
 line-height: 75px;
 font-size: 30px;
}
.flex-wrapper-justify-space-around{
 display: flex;
 justify-content: space-around;
background-color: #0D1CAE;
}
.flex-wrapper-justify-space-around > div {
 background-color: #f1f1f1;
 width: 100px;
 margin: 10px;
 text-align: center;
 line-height: 75px;
 font-size: 30px;
}
.flex-wrapper-justify-space-between{
 display: flex;
 justify-content: space-between;
background-color: #0D1CAE;
}
.flex-wrapper-justify-space-between > div {
 background-color: #f1f1f1;
 width: 100px;
 margin: 10px;
 text-align: center;
 line-height: 75px;
 font-size: 30px;
}
/* page three*/
.flex-wrapper-align{
 display: flex;
height: 200px;
 align-items: center;
 background-color: #0D1CAE;
}
.flex-wrapper-align > div {
 background-color: #f1f1f1;
 width: 100px;
 margin: 10px;
 text-align: center;
 line-height: 75px;
 font-size: 30px;
}
.flex-wrapper-align-top{
 display: flex;
height: 200px;
 align-items: flex-start;
 background-color: #0D1CAE;
}
.flex-wrapper-align-top > div {
 background-color: #f1f1f1;
 width: 100px;
 margin: 10px;
 text-align: center;
 line-height: 75px;
 font-size: 30px;
}
.flex-wrapper-align-bottom{
 display: flex;
height: 200px;
 align-items: flex-end;
 background-color: #0D1CAE;
}
.flex-wrapper-align-bottom > div {
 background-color: #f1f1f1;
 width: 100px;
 margin: 10px;
 text-align: center;
 line-height: 75px;
 font-size: 30px;
}
.flex-wrapper-align-baseline{
 display: flex;
height: 200px;
 align-items: baseline;
 background-color: #0D1CAE;
}
.flex-wrapper-align-baseline > div {
 background-color: #f1f1f1;
 width: 100px;
 margin: 10px;
 text-align: center;
 line-height: 75px;
 font-size: 30px;
}
/*page four*/
.flex-wrapper-space-between {
 display: flex;
 height: 600px;
 flex-wrap: wrap;
 align-content: space-between;
background-color: #0D1CAE;
}
.flex-wrapper-space-between > div {
 background-color: #f1f1f1;
 width: 100px;
 margin: 10px;
 text-align: center;
 line-height: 75px;
 font-size: 30px;
}
.flex-wrapper-stretch {
 display: flex;
 height: 600px;
 flex-wrap: wrap;
 align-content: stretch;
background-color: #0D1CAE;
}
.flex-wrapper-stretch > div {
 background-color: #f1f1f1;
 width: 100px;
 margin: 10px;
 text-align: center;
 line-height: 75px;
 font-size: 30px;
}
.flex-wrapper-align-contenet {
 display: flex;
 height: 600px;
 flex-wrap: wrap;
 align-content: center;
background-color: #0D1CAE;
}
.flex-wrapper-align-content > div {
 background-color: #f1f1f1;
 width: 100px;
 margin: 10px;
 text-align: center;
 line-height: 75px;
 font-size: 30px;
}
.flex-wrapper-perfect-center {
 display: flex;
 height: 300px;
 justify-content: center;
 align-items: center;
background-color: #0D1CAE;
}
.flex-wrapper-perfect-center > div {
 background-color: #f1f1f1;
 width: 100px;
 margin: 10px;
 text-align: center;
 line-height: 75px;
 font-size: 30px;
}