@charset "utf-8";
/* CSS Document */

/* font for h1 */
@font-face {
	font-family: "a Asian Ninja";
	src: url("aAsianNinja.ttf");
}

h1 {
	text-align: center;
	font-family: "a Asian Ninja", "custom font here";
	src: url("aAsianNinja.ttf");
}

/* font for h2 */
@font-face {
	font-family: "Genshin Impact";
	src: url("GenshinImpactFont-Regular.ttf");
}

h2 {
	text-align: center;
	font-family: "Genshin Impact", "custom font herrrra";
	src: url("GenshinImpactFont-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.start {
	width: 100%;
	height: 100vh;
	background-image: url("ganyu_wide.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Styling for h1 */
h1 {
	text-align: center;
	color: #3c3031;
	font-size: 100px;
}

/* Styling for h2 */
h2 {
	text-align: center;
	color: #3c3031;
	font-size: 40px;
}

/* Download section container */
.download-section {
	width: 100%;  
	display: flex;
	justify-content: center;
}

.button-container {
	text-align: center;
}

.download-button {
	background-color: #3b3031;
	color: #7a5858;
	padding: 30px 100px; 
	display: inline-block;
	border-radius: 25px;
	font-size: 30px;
	font-family: "a Asian Ninja";
	src: url("aAsianNinja.ttf");
}


.corner-image {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 70px;
	z-index: 2;
}


.cloud-container {
	display: flex;
	justify-content: space-between;
	margin: 0;
	flex-wrap: wrap;
	transform: translateY(200px);
	z-index: 1;
}

.moln-image {
	width: 35%;
}

.moln-image2 {
	width: 40%;
}

/* Page 2 styles */
.page2 {
	width: 100%;
	height: 100vh;
	z-index: 1;
	display: flex;
}

.paimon {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-wrap: flex;
}

.pcolor {
	background: #fff0d2;
	z-index: 1;
}

.pagtext {
	text-align: center;
}

